.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;  
  font-family: "barlow", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*
body{
}
*/

/*NAVBAR*/

.navbar .logo {
  font-size: 30px;
  
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}

.is-paused {
  animation-play-state: paused;
}

/*###################################*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#home{
  padding-top: 25px;
  font-family: "barlow", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  top:0px;
  left:0px;
  width: 100%;
  height: 80%;
}

#home .hours{
  text-align: left;
  margin-top: 3em;
  padding-left: 30em;
  color: #7D7D7D;
  width: 100%;
  
}

#home .hours .hoursList{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  margin-top: 50px;
  margin-bottom: 150px;
  font-size: 18px;
  height: 600px;
  width: 320px;
  font-weight:"bold";
  z-index: 1;
  margin-right: -50px;
}

#home .ui .image{
  height: 700px;
  float: left;
  margin-left: -100%;
  margin-top: -2em;
  margin-bottom: 100px;
  padding-top: 15%;
  position: relative;
}

#home .image-stack::after {
  content: ' ';
  display: table;
  clear: both;
}

#about{
  padding-top: 25px;
  font-family: "barlow", sans-serif;
  background: url("/images/food44.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: 10% 20%;
  top:0px;
  left:0px;
  width: 100%;
  height: 80%;
}

#about .aboutText{
  font-family: "barlow", sans-serif;
  color: #7D7D7D;
}

#about .aboutCard{
  width: 100%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.ui.header{
  font-family: "barlow", sans-serif;
}

.ui .stackable .menu{
  background-color: #9BB29B;
}

.ui .container{
  font-family: "barlow", sans-serif;
}

.footer .navbar .iconmini{
  font-size: '0.8em';
}

iframe{
  z-index: 1;
}

#contact{
  padding-top: 25px;
  font-family: "barlow", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
}

#menu{
  padding-top: 25px;
  font-family: "barlow", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  top:0px;
  left:0px;
  width: 100%;
  height: 80%;
}
